.img-capa{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    img {
      max-width: 90%;
    }
  }
.menu{
    position: fixed;
     top: 0;
     left: -650px;
     width: 250px;
     height: 100%;
     background-color: #333;
     color: #fff;
     padding: 20px;
     transition: left 0.3s ease;
 
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
    
}
.rodape{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

body{
    background-image: url('imagens/fundo.png');
}
a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}
.campanhas img{
        border: inset 8px;
        display: flex;
        justify-content: center;
}
.campanhas{
    font-size: large;
}
.menu-icon {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
a:hover{
    background-color: #555;
}
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
